.package
.config/
*.bak
*.o
*.1
Makefile
Wanted
agent/edusers
agent/files/help/addauth
agent/files/help/approve
agent/files/help/delpower
agent/files/help/end
agent/files/help/getauth
agent/files/help/help
agent/files/help/newpower
agent/files/help/passwd
agent/files/help/password
agent/files/help/power
agent/files/help/release
agent/files/help/remauth
agent/files/help/set
agent/files/help/setauth
agent/files/help/user
agent/filter/filter
agent/magent
agent/mailagent
agent/maildist
agent/mailhelp
agent/maillist
agent/mailpatch
agent/package
agent/pl/termios/termios.pl
agent/pl/termios/termios_ph
agent/pl/utmp/utmp.pl
agent/pl/utmp/utmp_ph
config.h
config.sh
install
mkdep
revision.h
